<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Bebida</th>
      <th>Volume</th>
      <th>Preço</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bebida of lista">
      <td>{{ bebida.id }}</td>
      <td>{{ bebida.Bebida }}</td>
      <td>{{ bebida.Volume }}</td>
      <td>{{ bebida.Preco }}</td>
      <td><button class="btn btn-danger" (click)="remover(bebida.id)">Excluir</button></td>
    </tr>
  </tbody>
</table>