<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-brand">
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<button type="button" class="btn btn-info" href="#" [routerLink]="['/lista-pizzas']">Lista de Pizzas</button>
				<button type="button" class="btn btn-success" href="#" [routerLink]="['/nova-pizza']">Inserir Nova Pizza</button>
			</div>
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<button type="button" class="btn btn-info" href="#" [routerLink]="['/lista-bebidas']">Lista de Bebidas</button>
				<button type="button" class="btn btn-success" href="#" [routerLink]="['/nova-bebida']">Inserir Nova Bebida</button>
			</div>	
			<div class="btn-group" role="group" aria-label="Third group">
				<button type="button" class="btn btn-danger" href="#" [routerLink]="['/']">Sair</button>
			</div>
		</div>
	</nav>
</div>

<div class="container">
	<router-outlet></router-outlet>
</div>

