<img src="../assets/bebidas.png"/>
<table class="table table-striped">

  <tbody>
    <tr *ngFor="let bebida of lista "> 

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{bebida.img}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{bebida.Bebida}}</h5>
          <p class="card-text">Cod da bebida: {{bebida.id}}  Volume: {{bebida.Volume}} 
            <button class="btn btn-danger" (click)="remover(bebida.id)">Excluir</button>

          </p>
          </div>
      </div>

    </tr>
 
  </tbody>
</table>