<form (ngSubmit)="salvar()">
  <div class="from-group">
    <label> Bebidas </label>
    <select class="form-control" [(ngModel)]="pedido.bebida">
      <option *ngFor="let bebida of bebidas" [ngValue]="bebida">{{bebida.bebida}}</option>
    </select>
  </div>
  <div class="form-group">
    <label> Pizzas </label>
    <select class="form-control" [(ngModel)]="pedido.pizza">
      <option *ngFor="let pizza of pizzas" [value]="pizza">{{pizza.pizza}}</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="adicionar()" type="button">Adicionar</button>
</form>  
